@page "/fetchdata"

@using BapBlazor.Data


<h1>Conclusion</h1>


    <table class="table">

            <tr>
                <th>

                    Thank you all for listening! We hope you enjoyed our demonstration!

                    We have learnt a lot creating this application together as a team. We encountered a few issues along the way, but we made use of resources available to us.
                    
                    Microsoft Teams was great for sharing screens to help each other overcome coding issues and we found it helpful taking control of each other’s screens.
                    
                    Azure Devops boards used to create user stories and keep track of where everyone was at during the project.
                    
                    GitHub was used to collaborate and integrate code.  We learnt the importance of ALWAYS pulling before you push!
                    
                    Using Microsoft Doc tutorials to learn how to create new methods
                    
                    We asked one of our tech mentors, Christa for help 😊 (she was amazing!)
                    
                    We used Stack overflow to search for errors that others encountered.
                    
                    We also used Azure portal to host on the free app service.
                    
                    On behalf of Team 2 I would like to say thank you all for listening and and we would be happy to take any questions.
                </th>
            </tr>
  
    </table>
}

}
