@page "/fetchdata"

@using BapBlazor.Data


<h1>Conclusion</h1>


    <table class="table">

            <tr>
                <th>

                    <p>
                        Thank you all for listening! We hope you enjoyed our demonstration!</p>

                        <p>We have learnt a lot creating this application together as a team. We encountered a few issues along the way, but we made use of resources available to us.</p>

                        <p>Microsoft Teams was great for sharing screens to help each other overcome coding issues and we found it helpful taking control of each other’s screens.</p>

                        <p>Azure Devops boards used to create user stories and keep track of where everyone was at during the project.</p>

                        <p>GitHub was used to collaborate and integrate code.  We learnt the importance of ALWAYS pulling before you push!</p>

                        <p>Using Microsoft Doc tutorials to learn how to create new methods</p>

                        <p>We asked one of our tech mentors, Christa for help 😊 (she was amazing!)</p>

                        <p>We used Stack overflow to search for errors that others encountered.</p>

                        <p>We also used Azure portal to host on the free app service.</p>

                        <p>On behalf of Team 2 I would like to say thank you all for listening and and we would be happy to take any questions.</p>
</th>
            </tr>
  
    </table>

